body {
    background-color: grey;
    margin: 15px;
}
.tpotus{
    height: 373px;
}

hr{
background-color:black;
}
.first-strike{
display: flex;
justify-content: flex-end;

}
.first-box{
    flex-wrap: wrap;
}
.fav-album{
display:flex;
flex-wrap: wrap;
justify-content: center;


}
.navbar-nav{
background-color: rgb(180, 178, 178);
}
.card-fav{
width: 600px;
background-color: white;
border: solid;
}
h1{
text-align: center;
color:rgb(33, 33, 195);
}
.spacer{
height: 50px;
}
.biography{
height: 600px;
}
footer{
display: flex;
justify-content: center;
color:rgb(33, 33, 195);
}
.btn {
display: flex;
justify-content: center;
align-content:flex-end ;

}
img{
height: 400px;
}
h3{
    text-align: center;
}
h4{
text-align: center;
}
p{
text-align: center;
}
.card{
height: 550px;
}
.bad-artist{
text-align: center;
color:rgb(33, 33, 195); ;
}
.tables{
    display: flex;
}
.first-table{
color: rgb(33, 33, 195);
width: 40%;
border: solid;
background-color: antiquewhite;
}
.second-table{
    color: rgb(33, 33, 195);
    width: 40%;
    border: solid;
    margin-left: 219px;
    background-color: antiquewhite;
    
}

tr{
color:rgb(33, 33, 195);
}
td{
color: rgb(33, 33, 195);
}
#shop{
font-size:50px;
color: rgb(33, 33, 195);

}
.jbt{
    margin-top: 20px;
    color:azure;
}
h1{
    color:azure;
}
.jumbotron {
    background-image:  url("musicfest.jpg");
    background-size: cover;
  }
  .bdg{
    color: blue;
    

  }
  
  .add-btn:hover{
    box-shadow: 0px 5px 5px 5px rgb(244, 210, 166);
    transition: 500ms;
  }